* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: column;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input {
  text-align: center;
  max-width: 50%;
  align-self: center;
}

#headline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#coins-container {
  max-width: 80%;
  align-items: center;
  text-align: center;
  gap: 20px;
}